<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        function validate_add_form() {
            // 验证队名
            var teamName = $("#teamName").val();
            var reg_name = /(^[a-zA-Z0-9_-]{6,19}$)|(^[\u2E80-\u9FFF]{2,5})/;
            if (!reg_name.test(teamName)) {
                alert("队名必须是2-5位中文或6-19位英文和数字的组合!");
                return false;
            }

            //验证比赛名称
            var competitionName = $("#competitionName").val();
            var reg_name1 = /(^[a-zA-Z0-9_-]{6,19}$)|(^[\u2E80-\u9FFF]{2,30})/;

            if (!reg_name1.test(competitionName)) {
                alert("比赛名称必须是2-30位中文或6-19位英文和数字的组合!");
                return false;
            }

            // 验证QQ
            var teamQq = $('#teamQq').val();
            if (teamQq != '') {
                if (!/^[1-9][0-9]{4,14}$/.test(teamQq)) {
                    layer.open({
                        content: '请输入正确的QQ号码',
                        skin: 'msg',
                        time: 1
                    });
                }
            }

            return true;
        }


        $(function () {
            //添加管理员功能
            $("#submit").click(function () {
                //获取com_id
                var comId = JSON.parse(sessionStorage.getItem("comId"));
                let b = validate_add_form();
                if (b == true) {
                    var teamName = $("#teamName").val();
                    var competitionName = $("#competitionName").val();
                    var teamQq = $("#teamQq").val();
                    var teamInformation = $("#teamInformation").val();
                    //设置ajax是同步
                    $.ajaxSettings.async = false;
                    //判断用户名是否存在
                    $.post("../selectTeamByTeamName",{"teamName": teamName},function (data) {
                        if (data.length===0) {
                            //数组为空，可以直接擦插入
                            $.post("../insertTeamInfo",
                                {
                                    "teamName":teamName,
                                    "competitionName":competitionName,
                                    "teamQq":teamQq,
                                    "teamInformation":teamInformation

                                },function (data){
                                    if(data == 1){
                                        alert("添加成功")
                                    }else {
                                        alert("添加失败")
                                    }
                                })
                        } else {
                            //遍历，判断这个竞赛是否有相同的队名
                            for (let i = 0; i < data.length; i++) {
                                if(data[i].competitionName == competitionName){
                                    alert("该竞赛已经有这个队伍啦，换个队名叭！")
                                }else {
                                    $.post("../insertTeamInfo",
                                        {
                                            "teamName":teamName,
                                            "competitionName":competitionName,
                                            "teamQq":teamQq,
                                            "teamInformation":teamInformation

                                        },function (data){
                                            if(data == 1){
                                                alert("添加成功")
                                            }else {
                                                alert("添加失败")
                                            }
                                        })
                                }
                            }
                        }
                    });
                }

            });
        });
    </script>
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="teamName" class="layui-form-label">
                <span class="x-red">*</span>队伍名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="teamName" name="teamName" required lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="competitionName" class="layui-form-label">
                <span class="x-red">*</span>比赛名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="competitionName" name="competitionName" required lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="teamQq" class="layui-form-label">
                <span class="x-red">*</span>联系QQ
            </label>
            <div class="layui-input-inline">
                <input type="text" id="teamQq" name="pass" required lay-verify="pass"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="teamInformation" class="layui-form-label">
                详细信息
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="teamInformation" name="teamInformation"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            </label>
            <button id="submit" class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
</body>

</html>